# mac OS 
*.DS_Store
dl/.vscode
dl/data

#python compile file
*.pyc

# image file
*.png
*.jpg
*.JPG
*.jpeg
*.gif
!img/thumbnail.png

# pytorch weight file
*.pth

*.xml
*.iml


# model file
*.pth


# zip, tar file
*.tar
*.zip
*.tar.gz
